<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Howedoin - Whoops!</title>
<style>
	html, body {
		background-color:#00a2ff;
		font-family:Arial, Helvetica, sans-serif;	
	}
	
	.container {
		margin-top:15%;
		margin-left:auto;
		margin-right:auto;
		width:60%;
		color:#FFF;
		text-align:center;	
	}
	
	.wrapper {
		height:100%;
		width:100%;	
	}
	
	h1 {
		font-size:64px;	
	}
</style>
</head>
<body>
	<div class="wrapper">
		<div class="container">
	    	<h1>Howedoin? Not good!</h1>
	        <h2>I'm sorry to say it, but it looks like something is broken! Since you saw this message, we were notified that something went wrong so we can fix it.</h2>
	        <p>Error: 404</p>
	    </div>
	</div>
</body>
</html>
