{% extends 'index.html' %}
{% block title %}
howedoin - Register
{% endblock %}
{% block content %}
<div class="jumbotron">
	<h2>Complete your Payment</h2>
	<div class="panel panel-default">
	<div class="panel-heading">
	{% if billing_plan == 2 %}
	Small Business Plan</div>
	<div class="panel-body">
		<table class="table">
			<tr><td>Users:</td><td>10</td></tr>
			<tr><td>Teams:</td><td>Unlimited</td></tr>
			<tr><td>Monthly Cost:</td><td>$10.00</td></tr>
		</table><br/>
	<img src="/static/images/ssl.png"><br/>
	</div>
	<br/>
	{% elif billing_plan == 3 %}
	Large Business Plan</div>
	<div class="panel-body">
                <table class="table">
                        <tr><td>Users:</td><td>25</td></tr>
                        <tr><td>Teams:</td><td>Unlimited</td></tr>
                        <tr><td>Monthly Cost:</td><td>$15.00</td></tr>
                </table><br/>
        <img src="/static/images/ssl.png"><br/>
        </div>
	<br/>
	{% elif billing_plan == 4 %}
	Enterprise Plan</div>
	<div class="panel-body">
                <table class="table">
                        <tr><td>Users:</td><td>Unlimited</td></tr>
                        <tr><td>Teams:</td><td>Unlimited</td></tr>
                        <tr><td>Monthly Cost:</td><td>$100.00</td></tr>
                </table><br/>
        <img src="/static/images/ssl.png"><br/>
        </div>
	<br/>
	<div align="center">
	{% endif %}

	{% if billing_plan == 2 %}
		<form action="/payment/{{ billing_plan }}" method="POST">
		  <script
		    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		    data-key="pk_test_WVA6OKKxmhXMypNiAWfF1f68"
		    data-amount="1000"
		    data-name="Howedoin"
		    data-description="Small Business Plan - Monthly ($10.00)"
		    data-image="/static/images/howedoin_128.png">
		  </script>
		</div><br/>
	{% elif billing_plan == 3 %}
		<form action="/payment/{{ billing_plan }}" method="POST">
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_WVA6OKKxmhXMypNiAWfF1f68"
                    data-amount="1500"
                    data-name="Howedoin"
                    data-description="Large Business Plan - Monthly ($15.00)"
                    data-image="/static/images/howedoin_128.png">
                  </script>
		</div><br/>
	{% elif billing_plan == 4 %}
		<form action="/payment/{{ billing_plan }}" method="POST">
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_WVA6OKKxmhXMypNiAWfF1f68"
                    data-amount="10000"
                    data-name="Howedoin"
                    data-description="Enterprise Plan - Monthly ($100.00)"
                    data-image="/static/images/howedoin_128.png">
                  </script>
		</div><br/>
	{% endif %}
</form>
	</div>
</div>
{% endblock %}
