<!DCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>howedoin - how is your team doing</title>

    {% include 'head.html' %}
    {% include 'dashboard_css.html' %}
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    {% include 'navbar.html' %}
    {% include 'error.html' %}

 <div class="container-fluid">
        {% include 'sidebar.html' %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="page-header">Delete User?</h1>
            <form class="form-horizontal" method="post" action="/dashboard/user/delete/{{ user_id }}">
            <p>Once this user is deleted it cannot be receoved. <strong>Are you sure?</strong></p>
            <button id="submit" name="submit" class="btn btn-danger">Delete User</button><a style="padding-left:10px;"
            class="btn btn-primary" href="/dashboard/user/{{ user_id }}">Nevermind</a>
</form>
        </div>
      </div>
    </div>
 <script src="static/js/bootstrap.min.js"></script>
