
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>{% block title %}howedoin - Dashboard{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='css/dashboard.css') }}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">howedoin</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
                {% if not session['username'] %}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
                {% else %}
            <li><a href="/logout">Logout</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
                {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	{% include 'errors.html' %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/dashboard">Overview</a></li>
            <li><a href="/dashboard/rating">Ratings</a></li>
            <li><a href="/dashboard/team">Teams</a></li>
            <li><a href="/dashboard/users">Users</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/dashboard/account">Account</a></li>
            <li><a href="/dashboard/me">My Ratings</a></li>
            <li><a href="/dashboard/link">My Link</a></li>
            <li><a href="/dashboard/settings">Settings</a></li>
            <li><a href="/dashboard/help">Help</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">{% block page_title %}Dashboard - Overview{% endblock %}</h1>
	{% block content %}
	<div class="progress">
  <div class="progress-bar progress-bar-success" style="width: {{ percentGod }}%">
        {{ percentGod }}% Positive
  </div>
  <div class="progress-bar progress-bar-warning" style="width: {{ percentMed }}%">
        {{ percentMed }}% Neutral
</div>
  <div class="progress-bar progress-bar-danger" style="width: {{ percentBad }}%">
        {{ percentBad }}% Negative
</div>
</div>
{{ num_ratings }} total ratings.<br/>
{{ percentGod }} rated us as good.<br/>
{{ percentMed }} rated us as okay.<br/>
{{ percentBad }} rated us as bad.<br/><br/>
        <h2>Account Ratings</h2>
	<table class="table" width="100%">
	<tr><th>ID</th><th>UserID</th><th>ItemID</th><th>Score</th><th>Comment</th></tr>
	{% for rating in ratings %}
	<tr>
		<td>{{ rating.id }}</td>
		<td>{{ rating.username }}</td>
		<td>{{ rating.item_number }}</td>
		<td>{{ rating.score }}</td>
		<td>{{ rating.comment }}</td>
	</tr>	
	{% endfor %}
	</table>
        <h2>Users</h2>
        <table class="table">
        <tr><th>Name</th><th>Username</th><th>Email</th><th>Actions</th></tr>
        {% for user in users %}
        <tr>
                <td><a href="/user/edit/{{ user.id }}">{{ user.name }}</a></td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td><a href="/user/edit/{{ user.id }}" class="btn btn-info btn-xs">Edit</a>&nbsp;<a href="/user/delete/{{ user.id }}" class="btn btn-danger btn-xs">Delete</a></td>
        </tr>
        {% endfor %}
        </table>
        <a href="/user/add" class="btn btn-success btn-lg" role="button">Add a User</a>	
        <h2>Teams</h2>
	<table class="table">
	<tr><th>Team Name</th><th>Team Leader</th><th>Actions</th></tr>
                {% for team in teams %}
		<tr>
                      <td><a href="/team/edit/{{ team.id }}"> {{ team.team_name }}</a></td>
			<td>{{ team.team_leader }}</td>
			<td><a href="/team/edit/{{ team.id }}" class="btn btn-info btn-xs">Edit</a>&nbsp;<a href="/team/delete/{{ team.id }}" class="btn btn-danger btn-xs">Delete</a></td>
		</tr>
                {% endfor %}
		</table>
        <a href="/team/add" class="btn btn-success btn-lg" role="button">Add a Team</a>
	{% endblock %}
	</div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/docs.min.js') }}"></script>
  </body>
</html>

