<!DCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>howedoin - how is your team doing</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../static/js/ie-emulation-modes-warning.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../static/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="../../static/css/dashboard.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    {% include 'navbar.html' %}
    {% include 'error.html' %}

 <div class="container-fluid">
        {% include 'sidebar.html' %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="page-header">Edit {{ user.name }}</h1>
       <form class="form-horizontal" method="post" action="/dashboard/user/{{ user.id }}">
<fieldset>

<!-- Form Name -->

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Name</label>  
  <div class="col-md-4">
  <input id="name" value="{{ user.name }}" name="name" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="username">Username</label>  
  <div class="col-md-4">
  <input id="username" value="{{ user.username }}" name="username" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">Email</label>  
  <div class="col-md-4">
  <input id="email" value="{{ user.email }}" name="email" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Multiple Checkboxes (inline) -->
<!-- Multiple Checkboxes (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="account_permissions">Account Permissions</label>
  <div class="col-md-4">
    <label class="checkbox-inline" for="account_permissions-0">
      <input type="checkbox" name="account_permissions" id="account_permissions-0" value="add"
        {% for permission in account_permissions %}
            {% if permission.permission_type == 2 and permission.permission == 1 %}
                checked
            {% endif %}
      {% endfor %}
      >
      Add
    </label>
    <label class="checkbox-inline" for="account_permissions-1">
      <input type="checkbox" name="account_permissions" id="account_permissions-1" value="remove"
        {% for permission in account_permissions %}
            {% if permission.permission_type == 2 and permission.permission == 2 %}
                checked
            {% endif %}
      {% endfor %}
      >
      Remove
    </label>
    <label class="checkbox-inline" for="account_permissions-2">
      <input type="checkbox" name="account_permissions" id="account_permissions-2" value="modify"
        {% for permission in account_permissions %}
            {% if permission.permission_type == 2 and permission.permission == 3 %}
                checked
            {% endif %}
      {% endfor %}
      >
      Modify
    </label>
    <label class="checkbox-inline" for="account_permissions-3">
      <input type="checkbox" name="account_permissions" id="account_permissions-3" value="all"
        {% for permission in account_permissions %}
            {% if permission.permission_type == 2 and permission.permission == 5 %}
                checked
            {% endif %}
      {% endfor %}
      >
      All
    </label>
  </div>
</div>

{% for team in teams %}
<!-- Multiple Checkboxes (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="&amp;_permissions">{{ team.team_name }} Permissions</label>
  <div class="col-md-4">
    <label class="checkbox-inline" for="{{ team.team_name }}_permissions-0">
      <input type="checkbox" name="{{ team.team_name}}_permissions" id="{{ team.team_name }}_permissions-0" value="add"
      {% for p in team_permissions %}
            {% if p.team_id == team.id and p.permission == 1 %}
                checked
            {% endif %}
      {% endfor %}
      >
      Add
    </label>
    <label class="checkbox-inline" for="{{ team.team_name }}_permissions-1">
      <input type="checkbox" name="{{ team.team_name}}_permissions" id="{{ team.team_name }}_permissions-1" value="remove"
        {% for p in team_permissions %}
            {% if p.team_id == team.id and p.permission == 2 %}
                checked
            {% endif %}
      {% endfor %}
        >
      Remove
    </label>
    <label class="checkbox-inline" for="{{ team.team_name }}_permissions-2">
      <input type="checkbox" name="{{ team.team_name }}_permissions" id="{{ team.team_name }}_permissions-2" value="modify"
        {% for p in team_permissions %}
            {% if p.team_id == team.id and p.permission == 3 %}
                checked
            {% endif %}
      {% endfor %}
        >
      Modify
    </label>
    <label class="checkbox-inline" for="{{ team.team_name }}_permissions-3">
      <input type="checkbox" name="{{ team.team_name }}_permissions" id="{{ team.team_name }}_permissions-3" value="all"
        {% for p in team_permissions %}
            {% if p.team_id == team.id and p.permission == 5 %}
                checked
            {% endif %}
      {% endfor %}
        >
      All
    </label>
  </div>
</div>
{% endfor %}
<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-success">Edit User</button>
  </div>
</div>

</fieldset>
</form>
 
        </div>
      </div>
    </div>
 <script src="static/js/bootstrap.min.js"></script>
