{% extends 'dashboard.html' %}
{% block title %}Leaderboard{%endblock %}
{% block content %}
        <div class="col-sm-8 col-sm-offset-4 col-md-8 col-md-offset-4 main">
          <h1 class="page-header">Leaderboard</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>

          <h2 class="sub-header">Section title</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Good</th>
                  <th>Okay</th>
                  <th>Bad</th>
                  <th>Score</th>
                </tr>
              </thead>
              <tbody>
                {% for user in leaderboard.iteritems() %}
                <tr>
                  <td>{{ user[1]['userobj'].id }}</td>
                  <td>{{ user[1]['userobj'].name }}</td>
                  <td>{{ user[1]['good'] }}</td>
                  <td>{{ user[1]['okay'] }}</td>
                  <td>{{ user[1]['bad'] }}</td>
                  <td>{{ user[1]['score'] }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
{% endblock %}
