{% extends 'dashboard.html' %}
{% block title %}
howedoin - Login
{% endblock %}
{% block page_title %}
Dashboard - Edit User
{% endblock %}
{% block content %}
<div class="jumbotron">
	<h2>Edit User</h2>
	<form action="/user/add" method="post">
		<input type="text" name="name" placeholder="{{ user.name }}" class="form-control"/><br/>
		<input type="text" name="username" placeholder="{{ user.username }}" class="form-control"/><br/>
		<input type="email" name="email" placeholder="{{ user.email }}" class="form-control"/><br/>
		<h3>Teams</h3>
		{% for team in teams %}
			{% for mt in member_teams %}
				{% if mt|int == team.id %}
                <input type="checkbox" class="form-control" value="{{ team.id }}" name="{{ team.id }}" checked>{{ team.team_name }}</input>
				{% else %}
		<input type="checkbox" class="form-control" value="{{ team.id }}" name="{{ team.id }}">{{ team.team_name }}</input>
				{% endif %}
			{% endfor %}
                {% endfor %}
		<button class="btn btn-lg btn-primary btn-block" type="submit">Edit User</button>
	</form>
</div>
{% endblock %}
