
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 
<meta name="viewport" content="width=device-width"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>ZURBemails</title>
<link rel="stylesheet" type="text/css" href="https://howedo.in/static/css/email.css"/>
</head>
<body bgcolor="#FFFFFF">
 
<table class="head-wrap" bgcolor="#00a2ff">
<tr>
<td></td>
<td class="header container">
<div class="content">
<table bgcolor="#00a2ff">
<tr>
<td><a style="color:#FFFFFF" href="https://howedo.in">Howedoin</td>
<td></td>
</tr>
</table>
</div>
</td>
<td></td>
</tr>
</table> 
 
<table class="body-wrap">
<tr>
<td></td>
<td class="container" bgcolor="#FFFFFF">
<div class="content">
<table>
<tr>
<td>
<h3>Houston, we have a problem!</h3>
<p class="lead">Don't worry, its an easy one to fix. </p>
<p>Hi there! We tried to renew your Howedoin subscription today, but it failed. We attempted to charge your card
in the amount of ${{ amount }}. Don't sweat it if you need some time, we'll keep your account up and running for a 
week until you have a chance to make your payment. If you are ready now, you can make your payment using the link
below.</p> 
<p class="callout">
<a href="http://howedo.in/billing/invoice/{{ invoice_id }}/pay">Make Payment &raquo;</a>
</p> 
 
 
<table class="footer-wrap">
<tr>
<td></td>
<td class="container">
 
<div class="content">
<table>
<tr>
<td align="center">
<p>
<a href="https://howedo.in/terms">Terms</a> |
<a href="https://howedo.in/privacy">Privacy</a> |
<a href="https://howedo.in/unsubscribe"><unsubscribe>Unsubscribe</unsubscribe></a>
</p>
</td>
</tr>
</table>
</div> 
</td>
<td></td>
</tr>
</table> 
</body>
</html>
