
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 
<meta name="viewport" content="width=device-width"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>ZURBemails</title>
<link rel="stylesheet" type="text/css" href="../../static/css/email.css"/>
</head>
<body bgcolor="#FFFFFF">
 
<table class="head-wrap" bgcolor="#00a2ff">
<tr>
<td></td>
<td class="header container">
<div class="content">
<table bgcolor="#00a2ff">
<tr>
<td><a style="color:#FFFFFF" href="https://howedo.in">Howedoin</td>
<td></td>
</tr>
</table>
</div>
</td>
<td></td>
</tr>
</table> 
 
<table class="body-wrap">
<tr>
<td></td>
<td class="container" bgcolor="#FFFFFF">
<div class="content">
<table>
<tr>
<td>
<h3>Hi Joe!</h3>
<p class="lead">Welcome to Howedoin</p>
<p>This is an invite to join Howedoin Test's account. Howedoin lets you measure your customer satisfaction and compete
with your peers on the leaderboard. Completing the sign up process is super simple, you'll just need to follow the link
below and create a password.</p>
<p>If you have any questions you might want to reach out to your administrator. If this isn't something you expected,
just let us know and we'll take care of the rest!</p>
 
<p class="callout">
Complete your sign up using this link: <a href="#">Complete Signup &raquo;</a>
</p> 
 
 
<table class="footer-wrap">
<tr>
<td></td>
<td class="container">
 
<div class="content">
<table>
<tr>
<td align="center">
<p>
<a href="#">Terms</a> |
<a href="#">Privacy</a> |
<a href="#"><unsubscribe>Unsubscribe</unsubscribe></a>
</p>
</td>
</tr>
</table>
</div> 
</td>
<td></td>
</tr>
</table> 
</body>
</html>
