<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Howedoin - Customer feedback, made easy</title>
<!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
		html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 250px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 250px;
  background-color: #2E2E2E;
}
		.navbar {
			margin-bottom:0px;	
			width:100%;
			font-size:18px;
		}
		
		.white {
			color:#FFF;	
		}
		
		.jumbotrontop {
            height:auto;
			min-height:500px;	
			background-color:#00a2ff;
		}
		
		.jumbotronbottom {
			height:300px;	
			background-color:#00a2ff;
		}
		
		.navbarhowedoin {
			background-color:#00a2ff;
			border-color:#00a2ff;
			color:#FFF;
		}
		
		.navbar-default .navbar-nav>li>a {
			color:#FFF;	
		}
		
		.navbar-default .navbar-brand {
			color:#FFF;	
		} 
		
		.containerheader {
			margin-left:0px;
			margin-right:0px;	
			width:100%;
		}
		
		.containerfull {
			width:100%;	
		}
		
		.jumbotron h2 {
			color:#FFF;	
		}
		
		.jumbotron h1 {
			color:#FFF;	
		}
		
		.center {
			text-align:center;	
		}
		
		.container80 {
			width:80%;	
		}
		
		.row {
			padding-bottom:75px;	
		}
		
		hr {
			background-color:#FFF;
			color:#EAEAEA;
			height:2px;
			width:75%;
			margin-top:25px;
			margin-bottom:25px;
		}
		
		.footer-text {
			color:#BBB;	
		}
		
		.footer-div {
			margin-top:45px;	
		}
		
		a:link {
			color:#FFF;	
		}
		
		.footerlink {
			color:#BBB;	
		}
		
		.wide {
			width:80%;	
		}

        .widebottom {
            width:60%;
        }
		
		.form-control {
			width:60%;	
		}
		
		form {
			 margin: 0 auto;
    text-align: center;
		}
		
		input {
			margin-left:auto;
			margin-right:auto;
			color:#000;
			padding:5px;
		}
		
		.navbar-nav>li>.dropdown-menu {
			padding:10px;	
		}
		
		.logo {
			padding-top:40px;
			padding-bottom:10px;
			vertical-align:middle;	
		}

        .bottom-list {
            list-style: none;
            color:#FFF;
        }

        .bump-center {
            padding-left:10%;
        }
	</style>
  </head>
  <body>
    <div class="navbar navbar-default navbar-static-top navbarhowedoin" role="navigation">
    	<div class="container containerheader">
        	<div class="navbar-header">
            	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            	<span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="white"><a href="#plans">Plans</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/demo">Demo</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if session['username'] %}
            <li><a href="/dashboard">Dashboard</a></li>
            {% endif %}
          	<li class="dropdown">
            {% if session['username'] %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/dashboard/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            {% else %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
              	<form action="/login" method="post" accept-charset="UTF-8">
  <li><input style="margin-bottom: 15px;" type="text" name="username" size="30" placeholder="Username" /></li>
  <li> <input style="margin-bottom: 15px;" type="password" name="password" size="30" placeholder="Password" /></li>
 
   <li><input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px; padding-bottom:10px;" type="submit" name="commit" value="Sign In" /></li>
   <li>&nbps;</li>
   <li><a href="/forgot">Forgot Password</a></li>
</form>
              </ul>
              {% endif %}
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    
    <!-- END HEADER !-->
    
    <div class="jumbotron jumbotrontop">
    	<div class="container containerfull">
        	
            	<div class="col-lg-6 center">
                <img class="logo" src="/static/images/logo_man.png"/>
                </div>
                <div class="col-lg-6 center">
                	<h1>What do your customers think of you?</h1>
                    <br/>
                    <h2>Our surveys make it easy for your customer to tell you what they love or what you could do better!</h2><br/>
                    <a href="/register" class="btn btn-success btn-lg wide">Register Now</a>
                </div>
            
        </div>
    </div>
    <br/><br/>
	<div class="container container80" id="features">
    	<div class="col-md-4 center">
        	<img src="/static/images/effective.png" /><br/>
        	<h2>Effective</h2>
            <p>Our super simple surveys make it easy and painless for customers to tell you what they think. Ratings are registered in a single click!</p>
        </div>
        <div class="col-md-4 center">
        	<img src="/static/images/powerful.png" /><br/>
        	<h2>Powerful</h2>
            <p>From a robust API to incredible analytics, we have a full feature suite tailored to help you make the most of your customer's valuable feedback.</p>
        </div>
        <div class="col-md-4 center">
        	<img src="/static/images/easy.png" /><br/>
        	<h2>Easy</h2>
            <p>Get up and running in no time flat. Howedoin easily integrates with some of the most common support systems. Use a customer solution? No worries, our rating URL's can be adapted to meet your needs.</p>
        </div>
 	</div>
    <hr/>
    <div class="container container80">
    	<div class="row">
	    	<div class="col-md-4 center">
    			<img src="/static/images/listen.png" />   
	        </div>
	        <div class="col-md-8">
        		<h1>Listen to your customers</h1>
                <p>Who knows better than your customers? Answer - nobody! Capture valuable feedback with our extremely effective surveys. Include a Howedoin link in each interaction to maximize your feedback.</p>
	        </div>
        </div>
        <hr/>
        <div class="row">
	    	<div class="col-md-8">
    			<h1>Foster friendly competition</h1>
                <p>Howedoin shows your employees how they are doing based on an easy to understand score. The more positive feedback they get, the higher their score! Members of a team can then see how they stack up with other team members on the leaderboard. Your employees compete, your customers win.</p>    
	        </div>
	        <div class="col-md-4 center">
        		<img src="/static/images/trophy.png"/>
	        </div>
        </div>
        <hr/>
        <div class="row">
	    	<div class="col-md-4 center">
    			<img src="/static/images/grow.png"/>
	        </div>
	        <div class="col-md-8">
        		<h1>Grow your business</h1>
                <p>Make your customer's happy and they will reward you with continued business.<br/>Howedoin + Your Business = Happy customers.</p>
	        </div>
        </div>
    </div>
    <hr/>
    <div class="center">
    	<h1>Prices for every budget</h1>
    </div>
    <div id="plans" class="container">
        <p>&nbsp;</p>
        <div class="row flat">
            <div class="col-md-4">
                <ul class="plan plan1">
                    <li class="plan-name">
                        Basic
                    </li>
                    <li class="plan-price">
                        Free
                    </li>
                    <li>
                    	<strong>3</strong> Users
                    </li>
                    <li>
                    	<strong>No</strong> Additional Users
                    </li>
                    <li>
                    	<strong>1</strong> Team
                    </li>
                    <li>
                        <strong>Unlimited</strong> Ratings
                    </li>
                    <li>
                    	Small Teams
                    </li>
                    <li class="plan-action">
                        <a href="/register" class="btn btn-info btn-lg">Signup</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4">
                <ul class="plan plan2 featured">
                    <li class="plan-name">
                        Business
                    </li>
                    <li class="plan-price">
                        <strong>$10</strong> / month
                    </li>
                    <li>
                    	<strong>5</strong> Users
                    </li>
                    <li>
                    	<strong>$3.00</strong> per additional user
                    </li>
                    <li>
                    	<strong>3</strong> Teams
                    </li>
                    <li>
                        <strong>Unlimited</strong> Ratings
                    </li>
                    <li>
                        Custom <strong>Branding</strong>
                    </li>
                    <li>
                    	Medium Sized Teams
                    </li>
                    <li class="plan-action">
                     <a href="/register" class="btn btn-success btn-lg">Signup</a>
                 </li>
             </ul>
         </div>

         <div class="col-md-4">
            <ul class="plan plan3">
                <li class="plan-name">
                    Enterprise
                </li>
                <li class="plan-price">
                    <strong>$25</strong> / month
                </li>
                <li>
                	<strong>25</strong> Users
                </li>
                <li>
                	<strong>$2.50</strong> per additional user
                </li>
                <li>
                	<strong>Unlimited</strong> Teams
                </li>
                <li>
                    <strong>Unlimited</strong> Ratings
                </li>
                <li>
                    Custom <strong>Branding</strong>
                </li>
                <li>
                	Large Teams
                </li>
                <li class="plan-action">
                 <a href="/register" class="btn btn-info btn-lg">Signup</a>
             </li>
         </ul>
     </div>
 </div>
</div>

</div> <!-- /container -->

<div class="jumbotron jumbotronbottom">
    	<div class="container center">
        	<h2>Lets get started</h2>
            <br/> 
            <form>
            	<input class="form-control narrow" type="text" name="name" placeholder="Your Name"/><br/>
                <input class="form-control narrow" type="email" name="email" placeholder="Your Email"/><br/>
                <button id="submit" name="submit" class="btn btn-success widebottom">Continue</button>
            </form> 
        </div>
    </div>

	   <div class="footer">
      <div class="container">
      	<div class="footer-div">
      	<div class="col-sm-4 col-md-4 hidden-xs center">
           <h4 class="white">Navigation</h4>
            <ul class="bottom-list">
                <li><a href="/api">API</a></li>
                <li><a href="/privacy">Register</a></li>
                <li><a href="/terms">Login</a></li>
                <li><a href="/about">Dashboard</a></li>
                <li><a href="/contact">Help</a></li>
            </ul> 
        </div>
        <div class="col-sm-4 col-md-4 hidden-xs center">
            <h4 class="white">Social</h4>
            <ul class="bottom-list">
                <li><i class="fa fa-facebook-square"></i>&nbsp;<a href="#">Facebook</a></li>
                <li><i class="fa fa-twitter-square"></i>&nbsp;<a href="#">Twitter</a></li>
                <li><i class="fa fa-linkedin-square"></i>&nbsp;<a href="#">Linkedin</a></li>
                <li><i class="fa fa-google-plus-square"></i>&nbsp;<a href="#">Google+</a></li>
                <li><i class="fa fa-github-square"></i>&nbsp;<a href="#">Github</a></li>
            </ul>
        </div>
        <div class="col-sm-4 col-md-4 hidden-xs center">
            <h4 class="white" style="text-align:left;">Company</h4>
            <ul class="bottom-list">
                <li><a href="/privacy">Privacy</a></li>
                <li><a href="/terms">Terms</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        </div>
      </div>
      <div align="center" style="padding-top:10px;"><p class="footer-text">Copyright 2014 &copy; Howedoin LLC</p></div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
