{% extends 'index.html' %}
{% block title %}
howedoin - Register
{% endblock %}
{% block content %}
<div class="jumbotron">
	<h2>Register for Howedoin!</h2>
	<form action="/register" method="post">
		<input type="text" name="company_name" class="form-control" placeholder="Company Name"/><br/>
		<input type="text" name="name" class="form-control" placeholder="Contact Name"/><br/>
		<input type="text" name="username" class="form-control" placeholder="Username"/><br/>
		<input type="email" name="email" class="form-control" placeholder="Email Address"/><br/>
		<input type="password" name="password" class="form-control" placeholder="Password"/><br/>
		<input type="password" name="password_again" class="form-control" placeholder="Repeat Password"/><br/>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
	</form>
</div>
{% endblock %}
