<div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="side-head"><strong>You</strong></li>
            <li><a href="/dashboard">Overview</a></li>
            <li><a href="/dashboard/rating/you">Your Ratings</a></li>
            <li><a href="/dashboard/rating/link">Rating Link</a></li>
            <li><a href="/dashboard/leaderboard">Leaderboard</a></li>
            <li><a href="/dashboard/profile">Profile</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="side-head"><strong>Teams</strong>
            <li><a href="/dashboard/team">View Teams</a></li>
            <li><a href="/dashboard/team/create">Create Team</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="side-head"><strong>Users</strong>
            <li><a href="/dashboard/user">View Users</a></li>
            <li><a href="/dashboard/user/create">Create User</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="side-head"><strong>Account</strong>
            <li><a href="/dashboard/rating/all">Ratings</a></li>
            <li><a href="/dashboard/account">Settings</a></li>
            <li><a href="/dashboard/account/billing">Billing</a></li>
          </ul>
        </div>
